services:
  postgres:
    image: postgres:16
    container_name: exness-db
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: exness
    ports:
      - "5434:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: exness-redis
    ports:
      - "6379:6379"

volumes:
  pg_data:
